body
{
	margin: 0;
	padding: 0;
	background: url(../img/s1.jpg) rgba(0,0,0,0.5)  ;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: arial;
}

.loginBox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.7);
}

.loginBox:hover{

	transition:1s;
	background: rgba(0,0,0,1);
}

.loginBox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
	font-size: 18px;
}

.loginBox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginBox input[type=text],
.loginBox input[type=email],
.loginBox input[type=Password]{
	border: none;
	background: transparent;
	border-bottom: 1px solid #000;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

::placeholder{
	color: rgba(225,225,225,.5);
}


.loginBox input[type=submit]{

	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #00BFFF;
	font-weight: bold;
	font-size: 16px;
	border-radius: 20px;
	cursor: pointer;
}

.loginBox input[type=submit]:hover{
	background: #04B4AE;
}

.user{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top:calc(-100px/2);
	left:calc(50% - 50px);
}

h2{
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;


}

.loginBox a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}

h4{
	text-align: center;
	color: #585858;
	font-weight: normal;
	font-size: 14px;

}

h1{
	text-align: center;
	color: #fff;
	margin-top: 20px;
	font-weight: normal;
	font-size: 25px;	

}

h6{
	color: red;
	padding: 0;
	margin: 0;
}


